:root {
  --custom-bg-main: #fffffe;
  --custom-bg-color: #0f0e17;
  --custom-bg-highlight: #0f0e17;
  --custom-bg-headline: #fffffe;
  --custom-bg-button-text: #fffffe;
  --custom-bg-paragraph: #a7a9be;
  --custom-bg-stroke: #a7a9be;
  --custom-bg-secondary: #a7a9be;
  --custom-bg-acsent: #a7a9be;
  }

.custom-bg {
  background-color: var(--custom-bg-color);
}